.sidebar {
	min-width: 190px;
	float: left;
	position: relative;
	background-color: #fff;
}

.sidebar .sidebar-footer, .sidebar .sidebar-header
	{
	width: 100%;
	height: 50px;
	padding-left: 22px;
	float: left;
	line-height: 50px;
	font-weight: 600;
	color: #f0f0f0;
	border-bottom: solid 1px #ddd;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.sidebar ul li {
	width: 100%;
	display: block;
	float: left;
	position: relative
}

.sidebar ul li a {
	width: 100%;
	padding: 10px 22px;
	float: left;
	text-decoration: none;
	color: #f0f0f0;
	font-size: 14px;
	background: #414956;
	white-space: nowrap;
	position: relative;
	overflow: hidden;
	-o-transition: color .2s linear, background .2s linear;
	-moz-transition: color .2s linear, background .2s linear;
	-webkit-transition: color .2s linear, background .2s linear;
	transition: color .2s linear, background .2s linear
}

.sidebar>ul>li.active>a,.sidebar>ul>li:hover>a
	{
	color: #fff;
	background: #3b424d
}

.sidebar>ul>li>a {
	border-bottom: solid 1px #3b424d
}

.sidebar .submenu-indicator {
	float: right;
	right: 22px;
	position: absolute;
	line-height: 19px;
	font-size: 20px;
	-o-transition: transform .3s linear;
	-moz-transition: transform .3s linear;
	-webkit-transition: transform .3s linear;
	-ms-transition: transform .3s linear
}

.sidebar ul ul.submenu .submenu-indicator {
	line-height: 16px
}

.sidebar .submenu-indicator-minus>.submenu-indicator {
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

.sidebar ul ul.submenu,.sidebar ul ul.submenu li ul.submenu
	{
	width: 100%;
	display: none;
	position: static
}

.sidebar ul ul.submenu li {
	clear: both;
	width: 100%
}

.sidebar ul ul.submenu li a {
	width: 100%;
	float: left;
	font-size: 13px;
	background: #383838;
	border-top: none;
	position: relative;
	border-left: solid 6px transparent;
	-o-transition: border .2s linear;
	-moz-transition: border .2s linear;
	-webkit-transition: border .2s linear;
	transition: border .2s linear
}

.sidebar ul ul.submenu li:hover>a {
	border-left-color: #414956
}

.sidebar ul ul.submenu>li>a {
	padding-left: 30px
}

.sidebar ul ul.submenu>li>ul.submenu>li>a {
	padding-left: 45px
}

.sidebar ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a {
	padding-left: 60px
}

.sidebar ul li .jquery-accordion-menu-label,.sidebar ul ul.submenu li .jquery-accordion-menu-label
	{
	min-width: 20px;
	padding: 1px 2px 1px 1px;
	position: absolute;
	right: 18px;
	top: 14px;
	font-size: 11px;
	font-weight: 800;
	color: #555;
	text-align: center;
	line-height: 18px;
	background: #f0f0f0;
	border-radius: 100%
}

.sidebar ul ul.submenu li .jquery-accordion-menu-label {
	top: 12px
}

.ink {
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, .3);
	border-radius: 100%;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0)
}

.animate-ink {
	-webkit-animation: ripple .5s linear;
	-moz-animation: ripple .5s linear;
	-ms-animation: ripple .5s linear;
	-o-animation: ripple .5s linear;
	animation: ripple .5s linear
}

@
-webkit-keyframes ripple { 100%{
	opacity: 0;
	-webkit-transform: scale(2.5)
}

}
@
-moz-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5)
}

}
@
-o-keyframes ripple { 100%{
	opacity: 0;
	-o-transform: scale(2.5)
}

}
@
keyframes ripple { 100%{
	opacity: 0;
	transform: scale(2.5)
}

}



.white.sidebar .sidebar-footer,.white.sidebar .sidebar-header,.white.sidebar ul li a
	{
	background: #fff;
	color: #555
}

.white.sidebar>ul>li.active>a,.white.sidebar>ul>li:hover>a
	{
	background: #f0f0f0
}

.white.sidebar>ul>li>a {
	border-bottom-color: #f0f0f0
}

.white.sidebar ul ul.submenu li:hover>a {
	border-left-color: #f0f0f0
}

.white.sidebar ul ul.submenu li a {
	color: #f0f0f0
}

.white.sidebar>ul>li>a>.ink {
	background: rgba(0, 0, 0, .1)
}

