.box {
	max-width: 1000px;
	max-height: 800px;
	position: fixed;
	box-shadow: 0 0 40px rgba(0, 0, 0, .5);
	color: #000;
	background-color: #fff;
	visibility: hidden;
}

.box-mask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: .1;
}

.masked {
	border: 1px solid #6593cf;
	background: #c3daf9;
	padding: 2px;
	box-shadow: none;
}

.tip {
	font-family: '\5FAE\8F6F\96C5\9ED1';
	font-size: 14px;
	background-color: #53a93f;
	color: #fff;
	box-shadow: none;
}

div.loadmask-msg {
	padding: 10px 10px 10px 30px;
	background: #fbfbfb url('loading.gif') no-repeat 10px center;
	border: 1px solid #a3bad9;
	color: #222;
	cursor: wait;
}

.box .title {
	font: 15px/40px "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
	background: #3875d7;
	text-indent: 8px;
	margin: 0;
	color: #fff;
}

.box .closebtn {
	font: 15px/40px 'Cuprum', 'Lucida Sans Unicode', 'Lucida Grande',
		sans-serif;
	position: absolute;
	margin: 0;
	padding: 0 10px;
	top: 0;
	right: 0;
	cursor: pointer;
}

.f_white {
	color: #fff;
}

.box .content {
	background: none;
	margin: 0;
	padding: 15px 20px;
	word-break: break-all;
}

.box .btns {
	margin: 0;
	padding: 15px 0;
	text-align: center;
}

.box .btns button{
	margin: 15px;
}

.box .button:last-child {
	margin-right: 0;
}