ul.contextmenu {
	background-color: #fff;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px rgba(0, 0, 0, .3);
	position: absolute;
	margin: 0;
	padding: 8px 0;
	min-width: 150px;
}

ul.contextmenu-sub {
	display: none;
	margin-left: 150px;
	top: -8px;
}

ul.contextmenu li {
	list-style: none;
	position: relative;
}

ul.contextmenu li a {
	display: block;
	padding: 5px 28px 5px 8px;
	text-decoration: none;
	color: #000;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

span.arrow {
	position: absolute;
	right: 8px;
	top: 8px;
}

ul.contextmenu li a:hover {
	background-color: #54C11A;
	text-decoration: none;
	color: #fff;
}

ul.contextmenu li.divider {
	height: 1px;
	margin: 5px 0;
	background-color: #e5e5e5;
}