.dp_out {
	box-shadow: 0px 10px 10px #666;
	position: absolute;
	left:-9999px;
	top:0;
	z-index: 2000;
	background: #fff;
	border: 1px solid #ccc;
	padding: 2px;
	text-align: center;
}

.prev_year,.prev_month,.month_input,.year_input,.next_month,.next_year {
	cursor: pointer;
}

.month_input {
	border: 1px solid #fff;
	width:15px;
}

.year_input {
	border: 1px solid #fff;
	width:35px;
}

.dp_title td {
	padding: 0px;
}

.dp_out table {
	border-collapse: collapse;
}

.dp_body {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

.dp_out table td {
	border: 0px solid #ccc;
	width: 25px;
	text-align: center;
}

.dp_foot {
	text-align: center;
	padding: 4px 0 0 0;
}

.dp_foot button {
	border: 1px solid #ccc;
	outline: none;
}

.dp_month_pop {
	background: #fff;
	position: absolute;
	left: -9999px;
	top:0;
	border: 1px solid #ccc;
	z-index: 2001;
}

.dp_month_pop td{
	width: 20px;
	text-align: center;
}

.dp_year_pop {
	background: #fff;
	position: absolute;
	left: -9999px;
	top:0;
	border: 1px solid #ccc;
	text-align: center;
	z-index: 2001;
}

.prev_month_td,.next_month_td{
	color:#ccc;
}

.curr_month_td:hover{
	background: #bdebee;
	cursor: pointer;
}
.curr_date_td{
	background: #bdebee;
	cursor: pointer;
}
.pop_year:hover{
	background: #bdebee;
	cursor: pointer;
}
.pop_month:hover{
	background: #bdebee;
	cursor: pointer;
}
.year_left,.year_right{
	cursor: pointer;
	color: #69c;
}