.rzy-box {
	width: 200px;
	border: 1px solid #D2D2D2;
	background-color: #FFF;
	float:left;
	margin-right:100px;
}

.rzy-box-title {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #626262;
	padding-left: 10px;
	background-color: #FBFBFB;
	border-bottom: 1px solid #D2D2D2;
}

.rzy-box-body {
	min-height: 300px;
}

.ztree li a:hover {text-decoration:none;}