.r-dropdown {
	font: 13px/20px "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
	background-color: #fff;
}

.r-dropdown li {
	list-style: none;
}

.r-dropdown li a {
	display: block;
	padding: 5px 8px;
	text-decoration: none;
	color: #000;
}

.r-dropdown li a:hover {
	background-color: #08c;
	text-decoration: none;
	color: #fff;
}

.r-dropdown .divider {
	height: 1px;
	margin: 5px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}