.pager{margin:5px 0;}
.pager .pageNum{border: 1px solid #999;padding:2px 8px;display: inline-block;cursor:pointer;margin:2px;}
.pager .cPageNum{font-weight: bold;padding:2px 5px;color:red;}
.pager .disableNum{border: 1px solid #ccc;color:#ccc;padding:2px 8px;display: inline-block;margin:2px;}
#pageNav .pageNum:hover{background: #fff4d8; }
.table{
table-layout:fixed;
width:100%;
border-collapse: collapse;
border-spacing: 0;
border: 1px solid #DDD;
font-size: 14px;
font-family: "微软雅黑", "宋体", Arial, sans-serif;
text-shadow: 1px 2px 1px #FFFFFF;
}
.table thead tr th {
vertical-align: bottom;
border: 1px solid #ccc;
text-align: left;
height:30px;
line-height: 30px;
padding-left: 6px;
background-color: #DFF9FF;
color:#333;
}
.table tbody tr td{
height:32px;
line-height: 32px;	
padding-left: 6px;
border: 1px solid #ccc;
text-align: left;
color:#333;
text-shadow: 1px 2px 1px #FFFFFF;
}

tr.strips {
	background: #F7FDEA;
}