.pager{margin:5px 0;}
.pager .pageNum{border: 1px solid #999;padding:2px 8px;display: inline-block;cursor:pointer;margin:2px;}
.pager .cPageNum{font-weight: bold;padding:2px 5px;color:red;}
.pager .disableNum{border: 1px solid #ccc;color:#ccc;padding:2px 8px;display: inline-block;margin:2px;}
#pageNav .pageNum:hover{background: #fff4d8; }
.table{
table-layout:fixed;
width:100%;
border-collapse: collapse;
border-spacing: 0;
border: 1px solid #e1e1e1;
font-family: "微软雅黑", "宋体", Arial, sans-serif;
}
.table thead tr th {
vertical-align: bottom;
border: 1px solid #e1e1e1;
border-bottom: 2px solid #a0d468;
height:30px;
line-height: 30px;
padding-left: 6px;
background-color: #f9f9f9;
color:#333;
font-size: 14px;
text-shadow: 1px 2px 1px #FFFFFF;
}
.table tbody tr td{
height:32px;
line-height: 32px;	
padding-left: 6px;
border: 1px solid #e1e1e1;
color:#333;
font-size: 13px;
word-wrap:break-word;
}

tr.strips {
	background: #fafafa;
}

div.pagination{
	margin: 5px 5px 5px 0;
}

.pagination a, .pagination span {
display:inline-block;
padding: 5px 10px;
margin-left: -1px;
line-height: 1.42857143;
color: #777;
text-decoration: none;
background-color: #fff;
border: 1px solid #ddd;
}

.pagination a:hover {
color: #2a6496;
background-color: #eee;
border-color: #ddd;
}

.pagination a.active {
background-color: #33B5E5;
border-color: #33B5E5;
color: #fff;
-webkit-text-shadow: 0 -1px 0 rgba(0,0,0,.25);
text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.pagination span {
color: #ccc;
}