html,body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
	overflow: hidden;
}

body,button {
	padding: 0;
	margin: 0;
}

body,button,input,table {
	font: 13px/20px "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
	line-height: 1.5;
}

#header {
	min-height: 45px;
	position: relative;
	background: #438eb9;
}

#center {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
	margin-top: 45px;
}

#sidebar {
	width: 190px;
	height: 100%;
	border: 1px solid #ccc;
	border-width: 0 1px 0 0;
	white-space: nowrap;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

#content {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	height: 100%;
	margin-top: 45px;
	margin-left: 190px;
}

#pill {
	height: 39px;
	border-bottom: 1px solid #E1E1E1;
	box-shadow: 1px 0 3px #EEE, inset 0 0 3px white;
	color: #D84C31;
	white-space: nowrap;
	font-size: 16px;
	font-weight: bold;
	line-height: 41px;
	padding-left: 20px;
	position: fixed;
	top: 45px;
	right: 0;
	bottom: 0;
	left: 191px;
	overflow: hidden;
	background-color: #fff;
	z-index: 1005;
}

#main {
	padding: 30px 40px;
	margin-top: 41px;
}

#head-left {
	color: #fff;
	float: left;
	line-height: 45px;
	font-size: 20px;
	padding-left: 15px;
	position: absolute;
}

#head-collapse {
	color: #fff;
	float: left;
	height: 45px;
	line-height: 45px;
	font-size: 20px;
	padding-left: 15px;
	left: 200px;
	position: absolute;
}

#head-right {
	color: #fff;
	float: right;
	padding-right: 20px;
}

#head-right ul {
	height: 100%;
	margin: 0;
	padding: 0;
}

#head-right .headitem {
	line-height: 45px;
	height: 45px;
	border-left: 1px solid #DDD;
	padding: 0 8px;
	position: relative;
	float: left !important;
	list-style: none;
	cursor: pointer;
}

.purple {
	background-color: purple;
}

.green {
	background-color: #69aa46;
}

.light-blue {
	background-color: #93cbf9;
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-list li {
	display: block;
	padding-left: 10px;
	margin: 0;
	border: 0;
	height: 41px;
	line-height: 41px;
	border-top: 1px solid #fcfcfc;
	position: relative;
}

.nav-list li a {
	display: block;
	height: 43px;
	line-height: 43px;
	padding: 0 16px 0 7px;
	background-color: #f9f9f9;
	color: #585858;
	text-shadow: none !important;
	font-size: 13px;
	text-decoration: none;
}

.breadcrumbs {
	position: relative;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f5f5f5;
	min-height: 39px;
	line-height: 40px;
	padding: 0 12px 0 0;
	display: block;
}

.breadcrumb {
	background-color: transparent;
	display: inline-block;
	line-height: 24px;
	margin: 0 22px 0 12px;
	padding: 0;
	font-size: 13px;
	color: #333;
	border-radius: 0;
}

.breadcrumb>li {
	display: inline-block;
}

.nav-search {
	position: absolute;
	top: 6px;
	right: 22px;
	line-height: 24px;
}

.page-content {
	background: #fff;
	margin: 0;
	padding: 8px 20px 24px;
}

#toggle {
	position: absolute;
	top: 50%;
	left: 181px;
	cursor: pointer;
}

.txt2 {
	border: #abadb3 1px solid;
	height: 32px;
	line-height: 18px;
	padding-left: 2px;
	font-family: "微软雅黑", Arial, sans-serif;
	color: #555;
	margin: 0;
	width: 158px;
	font-size: 16px;
	vertical-align: middle;
	background: url('../images/text-bg1.gif');
	padding: 0 30px 0 10px;
	border: 1px solid #ccc;
}

.txt {
	outline: none;
	box-shadow: none;
	border: 1px solid #bbb;
	padding: 3px;
	width: 190px;
}

.textarea {
	outline: none;
	box-shadow: none;
	border: 1px solid #bbb;
	padding: 3px;
	width: 190px;
}

td.form-label {
	font-weight: bold;
	width: 60px;
}

dl.accordion {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

dl.accordion dt {
	margin: 0;
	height: 28px;
	line-height: 28px;
	cursor: pointer;
	display: block;
	padding: 0;
	margin: 0;
	border-top: 1px solid #e5e5e5;
	position: relative;
	box-shadow: 0px 1px 1px #ccc;
	height: 40px;
	line-height: 40px;
	padding: 0 16px 0 7px;
	background-color: #fff;
	color: #585858;
	text-shadow: none !important;
	font-size: 16px;
	text-decoration: none;
	font-weight: normal;
	white-space: nowrap;
}

dl.accordion dd {
	display: none;
	padding: 20px 0;
	margin: 0;
	overflow: auto;
}

dl.accordion dd.active {
	display: block;
}

dl.accordion dd a {
	display: block;
	text-align: left;
	cursor: pointer;
	margin: 5px;
	padding-left: 30px;
	height: 32px;
	line-height: 32px;
	color: #585858;
}

div.multi-radio {
	margin: 0;
	padding: 0;
	display: inline-block;
}

div.multi-radio a {
	float: left;
	border: 1px solid #d4d4d4;
	padding: 5px 15px;
	height: 20px;
	margin-left: -1px; 
	line-height: 20px;
	text-decoration: none;
	color:#333;
}

div.multi-radio a:hover {
	background: lightblue;
}

div.multi-radio a.active {
	background: #16a0d3;
	border-color: #1096c7;
	color:#fff;
}

div.multi-radio:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}