.label {
	font-size: 12px;
	padding: 4px 6px 4px 6px;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
}

.label-default {
	background-color: #fff !important;
	border: 1px solid #ccc;
	color: #000;
}

.label-primary {
	background-color: #427fed !important;
	border: 1px solid #427fed;
	color: #fff;
}

.label-info {
	background-color: #57b5e3 !important;
	border: 1px solid #57b5e3;
	color: #fff;
}

.label-success {
	background-color: #53a93f !important;
	border: 1px solid #53a93f;
	color: #fff;
}

.label-warning {
	background-color: #f4b400 !important;
	border: 1px solid #f4b400;
	color: #fff;
}

.label-danger {
	background-color: #d73d32 !important;
	border: 1px solid #d73d32;
	color: #fff;
}

.badge {
	font-size: 11px !important;
	font-weight: 300;
	text-align: center;
	background-color: #ccc;
	height: 18px;
	padding: 2px 7px 2px 7px;
	-webkit-box-sizing: border-box;
	-webkit-border-radius: 12px !important;
	-webkit-background-clip: padding-box !important;
	-moz-border-radius: 12px !important;
	-moz-background-clip: padding !important;
	border-radius: 12px !important;
	-webkit-text-shadow: none !important;
	text-shadow: none !important;
	vertical-align: middle;
	background-clip: padding-box !important;
	border: none;
}

.progress {
	box-shadow: none;
	background: #e5e5e5;
	height: 25px;
	position: relative;
	border: 1px solid rgba(0, 0, 0, .1);
	background-color: #fff;
	padding: 1px;
}

.progress-bar {
	float: left;
	height: 100%;
	font-size: 12px;
	line-height: 25px;
	color: red;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.block {
	display:inline-block;
	width:10px;
	height:10px;
	margin-right:10px;
}

.block-success {
	background-color:#53a93f;
}

.block-warning {
	background-color:#f4b400;
}

.block-danger {
	background-color:#d73d32;
}