body {
	background: #444;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
	font-family: "Microsoft Yahei", "微软雅黑", "宋体", "Simsun", "Open Sans";
	color: #666;
}

.loginbox {
	background-color: #fff;
	width: 25%;
	min-width: 25%;
	margin: 120px auto;
	margin-bottom: 50px;
	padding: 30px;
}

.loginbox .form-title {
	font-size: 18px;
	font-weight: 100;
	color: #000;
}

#loginfrm table {
	padding: 0;
	margin: 0;
	width: 100%;
}

#loginfrm table td {
	padding: 10px 0;
	height: 30px;
}

.input-icon {
	position: relative;
}

.input-icon i {
	color: #ccc;
	display: block !important;
	position: absolute !important;
	z-index: 1;
	width: 16px;
	height: 16px;
	font-size: 16px;
	text-align: center;
	top: 9px;
	left: 12px;
}

input[type="text"],input[type="password"] {
	color: #333333;
	outline: 0;
	height: 20px;
	padding: 6px 6px !important;
	line-height: 20px;
	font-size: 14px;
	background-color: #ffffff;
	border: 1px solid #ccc;
}

.input-icon .left-icon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 33px !important;
	border-left: 2px solid #35aa47 !important;
}

.verifycode {
	width: 80px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

#error {
	color: red;
}