body {
	background: url(body-bg.jpg) top repeat-x;
}

h3 {
	display: block;
	font-size: 1.4em;
}

.loginwrap {
	width: 400px;
	margin: 100px auto;
	background: #fff;
	border:0px solid #f8f8f8;
	box-shadow: 0 0 40px rgba(0, 0, 0, .5);
}

#logo {
	margin: 0px;
	height: 75px; 
	background: #3875d7 url(logo_rz.png) no-repeat center;
}

#loginfrm {
	padding: 30px;
}

.loginsubmit {
	display: block;
	width: 130px;
	height: 36px;
	position: relative;
}

.loginsubmiting {
	display: block;
	width: 130px;
	height: 36px;
	line-height: 36px; 
	text-align: center;
	background: #70CA10;
	background: #3875d7;
	color: #fff;
	cursor:not-allowed; 
	border-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
	filter: alpha(opacity = 80);
	display: none;
}

.loginlabel {
	color: #ccc;
	display: block !important;
	position: absolute !important;
	z-index: 1;
	width: 20px;
	height: 20px;
	font-size: 20px;
	text-align: center;
	top: 10px;
	left: 8px;
}

.input-icon {
	position: relative;
	margin: 0px;
	margin-bottom: 15px;
}

.left input{
	text-indent: 20px;
}

#vcinput {
	width: 80px;
}

#VerifyImage{
	cursor: pointer; 
	vertical-align:top;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear:after {
	display: block;
	content: '.';
	clear: both;
	visibility: hidden;
}

#error {
	color: red;
}

button.disabled {
	background: #ccc;
}