body {
	font-size: 14px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	background-color: #fff;
}

a {
	text-decoration: none;
}

.hide-aside>aside.layout {
	display: none;
}

.hide-aside>section.layout {
	left: 0;
}

.layout {
	position: absolute;
}

header.layout {
	top: 0;
	right: 0;
	left: 0;
	height: 60px;
	background: #337ab7;
}

header.layout .logo {
	line-height: 60px;
	color: #fff;
	font-size: 20px;
	padding: 0 20px;
	float: left;
}

header.layout ul.operation {
	margin: 0;
	padding: 0;
	line-height: 60px;
	color: #fff;
	padding: 0 25px;
	float: right;
}

header.layout ul.operation>li {
	line-height: 60px;
	list-style: none;
	float: left;
	padding: 0 15px;
}

header.layout ul.operation>li>a {
	color: #fff;
	text-decoration: none;
	display: block;
	line-height: 60px;
}

aside.layout {
	top: 60px;
	bottom: 35px;
	left: 0;
	overflow: auto;
	width: 16.666667%;
	background-color: #F9F9F9;
	background-color: #FFF;
	border-right: 0px solid #ddd;
}

section.layout {
	top: 60px;
	right: 0;
	bottom: 35px;
	left: 16.666667%;
	overflow-y: auto;
	border: 0px solid #CCC;
	background-color: #FFF;
	background-color: #F9F9F9;
    border-left: 1px solid #e4e5e7;
	padding: 20px;
}

footer.layout {
	right: 0;
	bottom: 0;
	left: 0;
	height: 35px;
	background: #EFEFEF;
	border-top: 0px solid #CCC;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.copyright {
	text-align: center;
	line-height: 35px;
	margin: 0;
	font-size: 13px;
}

::-webkit-scrollbar {
	width: 6px;
	height: 250px;
}

::-webkit-scrollbar-corner,::-webkit-scrollbar-track {
	background-color: #e5e5e5;
}

::-webkit-scrollbar-thumb {
	border-radius: 0;
	background-color: rgba(0, 0, 0, .2);
}

#loading {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(loading.gif) no-repeat;
	background-position: center;
	background-color: rgba(255, 255, 255, .5);
}

header.layout .nav {
    height: 100%;
        float: left;
}
header.layout .nav>li {
        float: left;
}

header.layout .nav >li> a {
    display: block;
    padding: 6px 20px;
    height: 100%;
    color: #fff;
}
header.layout .nav >li >a:hover {
    background-color: #286090;
}
header.layout .nav >li >a:visited {
    background-color: #286090;
}
header.layout .nav >li >a.current {
    background-color: #286090;
}


header.layout .nav >li >a >i {
    font-size: 28px;
    width: 26px;
    height: 26px;
    display: block;
    margin: 0 auto 2px;
}
.toolbar{
	padding: 15px 0;
}