.selecttree {
	position: relative;
	display: inline-block;
}

.selecttree dt {
	padding: 0;
	position: relative;
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
	color: #333;
	border: 1px solid #ccc;
	background: #fff;
}

.selecttree dt .text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 5px;
	color: #555;
}

.selecttree dt.expand {
	border-color: #ccc;
}

.selecttree i {
	position: absolute;
	width: 11px;
	height: 11px;
	top: 7px;
	right: 5px;
	cursor: pointer;
}

.selecttree dd {
	position: absolute;
	border: 1px solid #ccc;
	margin-top: 1px;
	float: left;
	background: #FFF;
	display: none;
	z-index: 300;
	width: auto;
}

ul {
	padding: 0;
}

.selectbox {
	position: relative;
	display: inline-block;
}

.selectbox dt {
	padding: 0;
	position: relative;
	font-size: 14px;
	font-weight: normal;
	cursor: pointer;
	color: #333;
	border: 1px solid #ccc;
	background: #fff;
}

.selectbox dt .text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 5px;
	color: #555;
	text-align: left;
}

.selectbox dt.expand {
	border-color: #ccc;
}

.selectbox i {
	position: absolute;
	width: 11px;
	height: 11px;
	top: 8px;
	right: 8px;
	cursor: pointer;
}

.selectbox dd {
	position: absolute;
	border: 1px solid #ccc;
	margin-top: 1px;
	float: left;
	background: #FFF;
	display: none;
	z-index: 300;
	width: auto;
}

.searchbox {
	outline: none;
	width: 90%;
}

.selectbox dd {
	margin-top: -1px;
}

.selectbox dd  li {
	height: 26px;
	line-height: 26px;
	padding: 0 0 0 5px;
	text-align: left;
}

.selectbox dd  li:hover {
	background: lightblue;
	color: #fff;
}

.selectbox dd  li.selected {
	background-color: #3875d7;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #3875d7),
		color-stop(90%, #2a62bc));
	background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color: #fff;
}