.selecttree {
	position: relative;
	display: inline-block;
}

.selecttree dt {
	padding: 0;
	position: relative;
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
	color: #333;
	border: 1px solid #ccc;
	background: #fff;
}

.selecttree dt .text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 5px;
	color: #555;
}

.selecttree dt.expand {
	border-color: #ccc;
}

.selecttree i {
	position: absolute;
	width: 11px;
	height: 11px;
	top: 7px;
	right: 5px;
	cursor: pointer;
}

.selecttree dd {
	position: absolute;
	border: 1px solid #ccc;
	margin-top: 1px;
	float: left;
	background: #FFF;
	display: none;
	z-index: 300;
	width: auto;
}

ul {
	padding: 0;
}

.selectbox {
	position: relative;
	display: inline-block;
}

.selectbox dt {
	padding: 0;
	position: relative;
	font-size: 14px;
	font-weight: normal;
	cursor: pointer;
	color: #333;
	border: 1px solid #aaa;
	background: #fff;
	background-color: #fff;
background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#fff),color-stop(50%,#f6f6f6),color-stop(52%,#eee),color-stop(100%,#f4f4f4));
background: -webkit-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
background: -moz-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
background: -o-linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
background: linear-gradient(top,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);
}

.selectbox dt .text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 5px;
	color: #555;
	text-align: left;
}

.selectbox dt.expand {
	background-image: -webkit-linear-gradient(#eee 20%,#fff 80%);
	border-bottom-color: #fff;
}

.selectbox i {
	position: absolute;
	width: 11px;
	height: 11px;
	top: 8px;
	right: 8px;
	cursor: pointer;
}

.selectbox dd {
	position: absolute;
	border: 1px solid #aaa;
	border-top: none;
	margin-top: -1px;
	float: left;
	background: #FFF;
	display: none;
	z-index: 200;
	width: auto;
}

.selectbox dd input.searchbox {
	outline: none;
	margin: 5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.selectbox dd ul{
	max-height: 260px;
	overflow: auto;
}

.selectbox dd  li {
	height: 26px;
	line-height: 26px;
	padding: 0 0 0 5px;
	text-align: left;
}

.selectbox dd  li.no-results{
	color: #999;
}

.selectbox dd  li:hover {
	background-color: #3875d7;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #3875d7),
		color-stop(90%, #2a62bc));
	background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color: #fff;
}

.selectbox dd  li.selected {
	background-color: #3875d7;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #3875d7),
		color-stop(90%, #2a62bc));
	background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color: #fff;
}