.selecttree {
	position: relative;
	display: inline-block;
}

.selecttree dt {
	padding: 0;
	position: relative;
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
	color: #333;
	border: 1px solid #ccc;
	background: #fff;
}

.selecttree dt .text {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 5px;
	color: #555;
}

.selecttree dt.expand {
	border-color: #ccc;
}

.selecttree i {
	position: absolute;
	width: 11px;
	height: 11px;
	top: 7px;
	right: 5px;
	cursor: pointer;
}

.selecttree dd {
	position: absolute;
	border: 1px solid #ccc;
	margin-top: 1px;
	float: left;
	background: #FFF;
	display: none;
	z-index: 300;
	width: auto;
}

.selectbox {
	position: relative;
	display: inline-block;
	color: #333;
}

.selectbox dt {
	position: relative;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	background: #fff;
}

.selectbox div.text {
	text-indent: 5px;
	color: #555;
	text-align: left;
	border: 1px solid #ccc;
	cursor: pointer;
}

.selectbox dt.expand {
	background-image: -webkit-linear-gradient(#eee 20%,#fff 80%);
	border-bottom-color: #fff;
}

.selectbox i {
	position: absolute;
	width: 11px;
	height: 11px;
	top: 8px;
	right: 8px;
	cursor: pointer;
}

.selectbox dd {
	position: absolute;
	border: 1px solid #ccc;
	border-top: none;
	margin-top: -1px;
	float: left;
	background: #FFF;
	display: none;
	z-index: 2000;
	width: auto;
}

.selectbox dd input.searchbox {
	outline: none;
	margin: 5px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.selectbox ul.items{
	position: absolute;
	top : 100%;
	left : 0;
	z-index: 2000;
	border: 1px solid #ccc;
	max-height: 260px;
	margin: 1px 0 0;
	padding: 0px;
	background: #FFF;
	overflow: auto;
	display: none;
}

.selectbox ul.items li {
	height: 26px;
	line-height: 26px;
	padding: 0 0 0 5px;
	text-align: left;
}

.selectbox dd  li.no-results{
	color: #999;
}

.selectbox ul.items li:hover {
	background-color: #3875d7;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #3875d7),
		color-stop(90%, #2a62bc));
	background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color: #fff;
	cursor: pointer;
}

.selectbox ul.items li.selected {
	background-color: #3875d7;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #3875d7),
		color-stop(90%, #2a62bc));
	background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color: #fff;
}