.sidebar {
	display: block;
	z-index: 2;
/* 	box-shadow: 0 0 4px rgba(0, 0, 0, .3); */
	color: #444;
}

.sidebar-header,.sidebar-footer {
	border-bottom: solid 1px #ddd;
	height: 65px;
	line-height: 65px;
	font-size: 16px;
 	background: #fff;
	color:#333;
	white-space:nowrap;
  	overflow:hidden;
}

.sidebar-body>h3 {
	border-bottom: solid 1px #ddd;
	margin: 0;
	background: #fff;
	border-bottom: 1px solid white;
  	border-top: 1px solid #e7e7e7;
  	white-space:nowrap;
  	overflow:hidden;
}

.sidebar-body>h3.active{
	background: #428bca;
}

.sidebar-body>h3 a {
	display: block;
	text-decoration: none;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color:#333;
	font-size: 16px;
	padding: 0;
}

.sidebar-body>h3.active a {
	color:#fff;
}

.sidebar-body>div li a:hover {
	background: #ddd;
	text-decoration: none;
}

.sidebar-body>div {
	width: 100%;
	padding: 15px;
	border-bottom: solid 0px #ddd;
	background: #fff;
}

.sidebar-body>div li {
	border: solid 0px #ddd;
	margin: 10px 0;
}

.sidebar-body>div li a {
	display: block;
	text-decoration: none;
	height: 30px;
	line-height: 30px;
	color:#333;
	padding: 0 15px;
}

.sidebar-body>div li a:hover {
	background: #e7e7e7;
	text-decoration: none;
}

.selected {
	background: #ddd;
}