<div style="float: left;">
<button id='addbtn' class='btn btn-success'><i class="icon-plus-sign"></i> 增加</button>
<button id='delbtn' class='btn btn-success'><i class="icon-remove-sign"></i> 删除</button>
</div>
<div style="float: right;">
	类别 <input type="text" id='searchtxt' class='txt' name="type" autocomplete="off"/>
	<button class='btn btn-lightblue'><i class="icon-search"></i> 搜素</button>
	</div>
<div id='kkk'></div>
<script type="text/javascript">
  
	  $('#kkk').table({
		title:'数据字典',
		columns:[
			{header:"类别",field:"type",width:150},
			{header:"名称",field:"name"},
			{header:"值",field:"val",align:'center',width:150}
		],
		url:'dic/list',
		selector:'m',
		condition:condition
	});
          $('#addbtn').click(add);
     $('#delbtn').click(del);
     function add(){
    	 $.dialog({
    		 title:'字典新增',
    		 url:'view/dic/adddic.html',
    		 height:180,
    		 ok:ok
    	 });
     }
     
      function ok(win){
         	var type = win.find('input[name=type]').val();
	    	var name = win.find('input[name=name]').val();
	    	var val = win.find('input[name=val]').val();
	    	var params = {type:type,name:name,val:val};
	    	$.ajax({
				url:'dic/add',
				type: 'post',
				data: params,
				dataType:'json',
		        success:function(result){
		        	if(result.success){
						$('#kkk').table('reload');
					}
				}
			});	
		}
     
     function save(){
    	 var arr = $('#kkk').Grid('save');
     }
     
     function del(){
    	 var selected = $('#kkk').table('getSelected');
    	 if(selected.length == 0){
    		 $.tip({content:'请选择至少一条记录'});
    		 return false;
    	 }
    	 $.confirm({content:'确定要干掉吗', ok:function(){
	    		var ids = [];
		    	for(var k in selected){
		    		ids.push(selected[k].id); 
		    	}
		   		$.ajax({
		   			url:'dic/del',
		   			type: 'post',
		   			data: {ids:ids.join(',')},
		   			dataType: 'json',
		   	        success: function(result){
		   	        	$('#kkk').table('refresh');
		   			}
		   		});
    	 }});
     }
     
     function mod(){
    	 var selected = $('#kkk').Grid('getSelected');
    	 if(selected.length == 0){
    		 $.alert({msg:'请选择至少一条记录'});
    		 return false;
    	 }
    	 
     }
     
     $('.btn-lightblue').click(function(){
    	 $('#kkk').table('reload');
     });
     
     function condition(){
    	 var type = $('input[name=type]').val();
    	 var params = {type: type};
    	 return params;
     } 
</script>