<div style="float: left;">
<a id='addbtn' class='btn btn-default'><i class="icon-plus"></i> 增加</a>
<a id='delbtn' class='btn btn-default'><i class="icon-remove"></i> 删除</a>
</div>
<div style="float: right;">
	<form id='search-form' class='search-form'>
		<input type="text" id='searchtxt' class='txt' name="type" autocomplete="off" placeholder="请输入字典类型"/>
		<button type="button"><i class="icon-search"></i></button>
	</form>
</div>	
<div id='kkk'></div>
<script type="text/javascript">
  
	  $('#kkk').table({
		title:'数据字典',
		columns:[
			{header:"类别",field:"type",width:150},
			{header:"名称",field:"name"},
			{header:"值",field:"val",align:'center',width:150}
		],
		url:'dic/list',
		selector:'m',
		condition:condition
	});
	 $('#search-form button').click(function(){
    	 $('#kkk').table('reload');
     });
          $('#addbtn').click(add);
     $('#delbtn').click(del);
     function add(){
    	 $.dialog({
    		 title:'字典新增',
    		 url:'view/dic/adddic.html',
    		 width:350,
			buttons:[
			    {
			    	text : 'OK',
			    	cls : 'btn-success',
			    	action : function(d) {
			    		ok(d);
			    	}
			    },
			    {
			    	text : 'Close',
			    	cls : 'btn-default',
			    	action : function(d) {
			    		d.close();
			    	}
			    	
			    }
			]
    	 });
     }
     
      function ok(win){
         	var type = win.find('input[name=type]').val();
	    	var name = win.find('input[name=name]').val();
	    	var val = win.find('input[name=val]').val();
	    	var params = {type:type,name:name,val:val};
	    	$.ajax({
				url:'dic/add',
				type: 'post',
				data: params,
				dataType:'json',
		        success:function(result){
		        	if(result.result){
						win.close();
						$.alert('success', result.msg, function(){
							$('#kkk').table('reload');
						});
					}
				}
			});	
		}
     
     function save(){
    	 var arr = $('#kkk').Grid('save');
     }
     
     function del(){
    	 var selected = $('#kkk').table('getSelected');
    	 if(selected.length == 0){
    		 $.tip({content:'请选择至少一条记录'});
    		 return false;
    	 }
    	 $.confirm('确定要干掉吗', function(btn){
	    		if(btn){
		    		var ids = [];
			    	for(var k in selected){
			    		ids.push(selected[k].id); 
			    	}
			   		$.ajax({
			   			url:'dic/del',
			   			type: 'post',
			   			data: {ids:ids.join(',')},
			   			dataType: 'json',
			   	        success: function(result){
			   	        	$('#kkk').table('refresh');
			   			}
			   		});
		   		}
    	 });
     }
     
     function mod(){
    	 var selected = $('#kkk').Grid('getSelected');
    	 if(selected.length == 0){
    		 $.alert({msg:'请选择至少一条记录'});
    		 return false;
    	 }
    	 
     }
     
     function condition(){
    	 var type = $('input[name=type]').val();
    	 var params = {type: type};
    	 return params;
     } 
</script>