<div style='position: relative;margin-bottom:5px;'>
	<a id='appendbtn' class='btn btn-primary'><i class="icon-plus"></i> 新建客户</a>
	<a id='updatedbtn' class='btn btn-primary'><i class="icon-save"></i> 保存</a>
	<div style="position: absolute;bottom : 0; right:0;">
		<form id='search-form' class='search-box'>
			<table>
				<tr>
					<td><input type="text" id='searchtxt' name="name"
						autocomplete="off" placeholder="请输入客户名" /></td>
					<td><button type="button" class="btn btn-primary">查询</button></td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div id='kkk2'></div>
<script type="text/javascript">
	var customer_category;
	$.ajax({
		url : "customer/category",
		async : false,
		type : 'post',
		dataType : 'json',
		success : function(data) {
			if (data) {
				customer_category = data;
			}
		}
	});
	$('#appendbtn').click(function(){
		$('#kkk2').table('addRow', 0, {name:'customer'});
	});
	$('#kkk2').table({
		columns : [
		{header:"ID",field:"id",width:50,align:'center'},
		{
			header : "名称",
			field : "name",
			align : 'left',
			editor : {
				type : 'text'
			}
		}, {
			header : "电话",
			field : "phone",
			align : 'left',
			editor : {
				type : 'text'
			}
		} ],
		url : 'customer/pager',
		condition : condition
	});
	$('#updatedbtn').click(function(){
		$('#kkk2').table('endEdit');
		var mm = $('#kkk2').table('getChanged');
		var text = JSON.stringify(mm);
		$.ajax({
			url : 'customer/changed',
			type : 'post',
			data : {changed: text},
			contentType: "application/x-www-form-urlencoded; charset=utf-8",
			dataType : 'json',
			success : function(result) {
				if (result.result) {
					$.pop(result.msg, function() {
						$('#kkk2').table('refresh');
					});
				}
			}
		});
	});
	function del() {
		var selected = $('#kkk').table('getSelected');
		if (selected.length == 0) {
			$.tip({
				content : '请选择至少一条记录'
			});
			return false;
		}
		$.confirm({
			content : '确定要干掉吗',
			ok : function() {
				var ids = [];
				for ( var k in selected) {
					ids.push(selected[k].id);
				}
				$.ajax({
					url : 'user/del',
					type : 'post',
					data : {
						ids : ids.join(',')
					},
					dataType : 'json',
					success : function(result) {
						$('#kkk2').table('refresh');
					}
				});
			}
		});
	}
	$('#search-form button').click(function() {
		$('#kkk2').table('reload');
	});
	function condition() {
		var name = $('input[name=name]').val();
		var params = {
			name : name
		};
		return params;
	}
	function opRender(v, r) {
		var h = [];
		h.push("<a href='javascript:void(0);' onclick=javascript:mk('" + r.id
				+ "')>分配角色</a>");
		return h.join('');
	}
</script>
