<table width='100%'>
	<tr>
		<td valign='top'><div style='position: relative;margin-bottom:5px;'>
				<a id='addbtn' class='btn btn-default'><i class="icon-plus"></i>
					增加</a>
				<div style="position: absolute;bottom : 0; right:10px;">
					<form id='search-form' class='search-box'>
						<table>
							<tr>
								<td><input type="text" id='searchtxt' name="name"
									autocomplete="off" placeholder="请输入角色名" /></td>
								<td><button type="button" class="btn btn-primary">查询</button></td>
							</tr>
						</table>
					</form>
				</div>
			</div></td>
		<td></td>
	</tr>
	<tr>
		<td width='80%'><div id='kkk'></div></td>
		<td valign='top' width='20%'>
			<div class='rzy-box' style="width:100%;">
				<div class='rzy-box-title'>
					<i class="icon-sitemap"></i> 资源树
				</div>
				<div class='rzy-box-body' style='padding: 10px;'>
					<ul id="restree" class="ztree" style="width:100%;overflow:auto;"></ul>
				</div>
				<div class='rzy-box-footer' style='padding: 10px;'>
					<a class='btn btn-primary' id='setRes'>保存</a>
				</div>
			</div>
		</td>
	</tr>
</table>

<script type="text/javascript">
	$('#kkk').table({
		title : '角色列表',
		columns : [ {
			header : "ID",
			field : "id",
			width : 50,
			align : 'center'
		}, {
			header : "角色名",
			field : "name"
		} ],
		selector : 'm',
		condition : condition,
		url : 'role/list',
		onSelectRow : function(rowid){
			var rowData = $('#kkk').table('getRowData', rowid);
			var roleid = rowData['id'];
			$.ajax({
				url : 'role/ownres',
				type : 'post',
				data : {role : roleid},
				dataType : 'json',
				success : function(result) {
					var treeObj = $.fn.zTree.getZTreeObj("restree");
					treeObj.checkAllNodes(false);
					$(result).each(function(){
						treeObj.checkNode(treeObj.getNodeByParam("id", this, null), true, false);
					});
				}
			});
		}
	});
	$('#search-form button').click(function() {
		$('#kkk').table('reload');
	});
	$('#addbtn').click(add);
	$('#delbtn').click(del);
	$('#assignbtn').click(mk);
	$('#setRes').click(setRes);
	function condition() {
		var name = $('input[name=name]').val();
		var params = {
			name : name
		};
		return params;
	}

	function add() {
		$.dialog({
			title : '角色新增',
			width : 350,
			url : 'view/role/addrole.html',
			buttons : [ {
				text : 'OK',
				cls : 'btn-success',
				action : function(d) {
					ok(d);
				}
			}, {
				text : 'Close',
				cls : 'btn-default',
				action : function(d) {
					d.close();
				}

			} ]
		});
	}
	function ok(win) {
		var name = win.find('input[name=name]').val();
		var params = {
			name : name
		};
		$.ajax({
			url : 'role/add',
			type : 'post',
			data : params,
			dataType : 'json',
			success : function(result) {
				if (result.result) {
					win.close();
					$.alert('success', result.msg, function() {
						$('#kkk').table('reload');
					});
				}
			}
		});
	}

	function del() {
		var selected = $('#kkk').table('getSelected');
		debugger;
		if (selected.length != 1) {
			$.tip({
				content : '请选择一条记录'
			});
			return false;
		}
		$.confirm('确定要干掉吗', function(btn) {
			if (btn == 'YES') {
				$.ajax({
					url : 'role/del',
					type : 'post',
					data : {
						id : selected[0].id
					},
					dataType : 'json',
					success : function(result) {
						$('#kkk').table('refresh');
					}
				});
			}
		});
	}

	function mk() {
		var selected = $('#kkk').table('getSelected');
		if (selected.length != 1) {
			$.tip({
				content : '请选择一条记录'
			});
			return false;
		}
		$.dialog({
			title : '分配资源',
			width : 230,
			height : 300,
			url : 'setres.jsp?id=' + selected[0].id,
			buttons : [ {
				text : 'OK',
				cls : 'btn-success',
				action : function(d) {
					ok1(d);
				}
			}, {
				text : 'Close',
				cls : 'btn-default',
				action : function(d) {
					d.close();
				}

			} ]
		});
	}

	function setRes(win) {
		var roleid = $('#kkk').table('getSelected')[0].id;
		var treeObj = $.fn.zTree.getZTreeObj("restree");
        var nodes = treeObj.getCheckedNodes(true);
		var ids = [];
		$(nodes).each(function(){
			ids.push(this['id']);
		});
		var data = {
			role : roleid,
			res : ids.join()
		};
		$.ajax({
			url : "role/setres",
			type : 'post',
			data : data,
			dataType : 'json',
			success : function(r) {
				$('#kkk').table('reload');
			}
		});
	}

	function initTree() {
		var setting = {
			view : {
				dblClickExpand : false,
				showLine : true
			},
			check : {
				enable : true
			},
			data : {
				simpleData : {
					enable : true,
					pIdKey : "pid",
					rootPId : 0
				}
			}
		};
		var treeNodes;
		$.ajax({
			async : false,
			cache : false,
			type : 'POST',
			dataType : "json",
			url : "res/list?_=" + new Date().getTime(),
			success : function(data) {
				treeNodes = data;
			}
		});
		$.fn.zTree.init($("#restree"), setting, treeNodes);
		var treeObj = $.fn.zTree.getZTreeObj("restree");
		treeObj.expandAll(true);
	}

	initTree();
</script>