<div class='rzy-box'>
	<div class='rzy-box-title'>
		<i class="icon-sitemap"></i> 组织机构
	</div>
	<div class='rzy-box-body'>
		<ul id="departtree" class="ztree"
			style="width:260px; overflow:auto;float:left;"></ul>
	</div>
</div>

<div id='departdetail' style="float:left;width:500px;">
	<a id='addbtn' class='btn btn-primary'><i class="icon-plus"></i> 增加子部门</a> 
	<a id='modbtn' class='btn btn-primary'><i class="icon-pencil"></i> 修改部门</a>
	<a id='delbtn' class='btn btn-primary'><i class="icon-minus"></i> 删除选中部门</a>
</div>
<script type="text/javascript">
	var setting = {
		view : {
			dblClickExpand : false,
			showLine : true
		},
		data : {
			simpleData : {
				enable : true,
				pIdKey : "pid",
				rootPId : 0
			}
		},
		callback : {
			onClick : onClick
		}
	};

	function initTree(selectNodeId) {
		var treeNodes;
		$.ajax({
			async : false,
			cache : false,
			type : 'POST',
			dataType : "json",
			url : "depart/tree",
			success : function(data) {
				treeNodes = data;
			}
		});
		$.fn.zTree.init($("#departtree"), setting, treeNodes);
		var treeObj = $.fn.zTree.getZTreeObj("departtree");
		treeObj.expandAll(true);
		var node = treeObj.getNodeByParam("id", selectNodeId);
		treeObj.selectNode(node, false);
	}

	initTree(1);
	function onClick(event, treeId, treeNode, clickFlag) {
		if (treeNode.level >= 1) {
			var name = treeNode.name;
			var pNode = treeNode.getParentNode();
			var memo = treeNode.memo;
			var detail = $('#departdetail');
			$('#name', detail).html(name);
			$('#pNode', detail).html(pNode.name);
			$('#memo', detail).html(memo);
		}
	}

	function filter(node) {
		return (node.name.indexOf("k") > -1);
	}

	$('#addbtn').click(add);
	function add() {
		$.dialog({
			title : '部门新增',
			url : 'view/depart/add.html',
			buttons : [ {
				text : 'OK',
				cls : 'btn-success',
				action : function(d) {
					ok(d);
				}
			}, {
				text : 'Close',
				cls : 'btn-default',
				action : function(d) {
					d.close();
				}

			} ],
			onShow : function() {
				var treeObj = $.fn.zTree.getZTreeObj("departtree");
				var nodes = treeObj.getSelectedNodes();
				if (nodes.length > 0) {
					$('input[name=pname]').val(nodes[0].name);
					$('input[name=pid]').val(nodes[0].id);
				}
			}
		});
		//$('#kkk').Grid('addRow', {username:'asd'});
	}

	function ok(win) {
		var name = win.find('input[name=name]').val();
		var pid = win.find('input[name=pid]').val();
		var isParent = win.find('input[name=isParent]:checked').val();
		var memo = win.find('textarea[name=memo]').val();
		var params = {
			name : name,
			pid : pid,
			isParent : isParent,
			memo : memo
		};
		$.ajax({
			url : 'depart/add',
			type : 'post',
			data : params,
			dataType : 'json',
			contentType : "application/x-www-form-urlencoded; charset=utf-8",
			success : function(result) {
				if (result.result) {
					win.close();
					initTree(pid);
				}
			}
		});
	}

	function del() {
		var selected = $('#kkk').table('getSelected');
		if (selected.length == 0) {
			$.tip({
				content : 'Please select one record!'
			});
			return false;
		}
		$.confirm('确定要干掉吗', function(btn) {
			if (btn == 'YES') {
				var ids = [];
				for ( var k in selected) {
					ids.push(selected[k].id);
				}
				$.ajax({
					url : 'depart/del',
					type : 'post',
					data : {
						ids : ids.join(',')
					},
					dataType : 'json',
					success : function(result) {
						$('#kkk').table('refresh');
					}
				});
			}
		});
	}

	$('#search-form button').click(function() {
		$('#kkk').table('reload');
	});

	function del2(id) {
		$.confirm('确定要干掉吗', function(btn) {
			if (btn == 'YES') {
				var ids = [];
				ids.push(id);
				$.ajax({
					url : 'depart/del',
					type : 'post',
					data : {
						ids : ids.join(',')
					},
					dataType : 'json',
					success : function(result) {
						$('#kkk').table('refresh');
					}
				});
			}
		});
	}

	function mk() {
		var selected = $('#kkk').table('getSelected');
		if (selected.length != 1) {
			$.tip({
				content : '请选择一条记录'
			});
			return false;
		}
		$.dialog({
			title : '分配角色',
			url : 'user/tosetrole?user=' + selected[0].username,
			ok : ok1
		});
	}

	function ok1(win) {
		var user = win.find('input[name=user]').val();
		var roles = new Array();
		win.find('input[type=checkbox]:checked').each(function() {
			roles.push($(this).val());
		});
		var data = {
			user : user,
			roles : roles.join()
		};
		$.ajax({
			url : "user/setrole",
			type : 'post',
			data : data,
			dataType : 'json',
			success : function(result) {
				if (result.result) {
					win.close();
					$.alert('success', result.msg, function() {
						$('#kkk').table('reload');
					});
				}
			}
		});
	}

	function addemployee(name) {
		$.dialog({
			title : '添加员工',
			width : 600,
			padding : '1px',
			url : 'view/depart/addemp.html',
			params : {
				departname : name
			},
			buttons : [ {
				text : 'OK',
				cls : 'btn-success',
				action : function(d) {
					ok1(d);
				}
			}, {
				text : 'Close',
				cls : 'btn-default',
				action : function(d) {
					d.close();
				}

			} ]
		});
	}
</script>
