<p style='color:red;font-size:15px;font-weight: bold;border-bottom: 2px solid orange;margin-top:0;'>密码修改</p>
<table cellpadding="2" cellspacing="0" width="100%">
	<tr>
		<td align="right">旧密码</td>
		<td>
			<input type="password" name="pwd" class='txt' autocomplete="off" />
		</td>
	</tr>
	<tr>
		<td align="right">新密码</td>
		<td>
			<input type="password" name="pwd1" class='txt' autocomplete="off" />
		</td>
	</tr>
	<tr>
		<td align="right">确认密码</td>
		<td>
			<input type="password" name="pwd2" class='txt' autocomplete="off" />
		</td>
	</tr>
</table>