<a id='appendbtn' class='btn btn-primary'><i class="icon-plus"></i> 增加参数</a>
<a id='delbtn' class='btn btn-primary'><i class="icon-save"></i> 删除参数</a>
<a id='updatedbtn' class='btn btn-primary'><i class="icon-save"></i> 保存</a>
<div id='kkk'></div>

<script type="text/javascript">
	var supplier;
	$.ajax({
		url : "supplier/list",
		async : false,
		type : 'post',
		dataType : 'json',
		success : function(data) {
			if (data) {
				supplier = data;
			}
		}
	});
	$('#kkk').table({
		columns : [
		//{header:"ID",field:"id",width:50,align:'center'},
		{
			header : "供应商名",
			field : "supplier",
			align : 'left',
			render : supplierRender,
			tip : true
		}, {
			header : "应付金额",
			field : "total",
			align : 'center',
			width : 100
		}, {
			header : "已付金额",
			field : "payed",
			align : 'center',
			width : 100
		}, {
			header : "未付金额",
			field : "nonpay",
			align : 'center',
			width : 100
		}],
		condition : condition,
		url : 'fund/payablepager'
	});
	function condition() {
		var params = {
			apiid : '1'
		};
		return params;
	}
	$('#updatedbtn').click(function(){
		$('#kkk').table('endEdit');
		var mm = $('#kkk').table('getChanged');
		var text = JSON.stringify(mm);
		$.ajax({
			url : 'api/changed',
			type : 'post',
			data : {apiid: '1', changed: text},
			contentType: "application/x-www-form-urlencoded; charset=utf-8",
			dataType : 'json',
			success : function(result) {
				if (result.result) {
					$.pop(result.msg, function() {
						$('#kkk').table('refresh');
					});
				}
			}
		});
	});
	$('#appendbtn').click(function(){
		$('#kkk').table('addRow', 0, {apiid:1});
	});
	$('#delbtn').click(function(){
		var selected = $('#kkk').table('getSelected2');
		if (selected.length == 0) {
			$.tip({
				content : 'Please select one record!'
			});
			return false;
		}
		$('#kkk').table('deleteRow', selected[0]);
	});
	function supplierRender(v) {
		var c;
		$.each(supplier, function(){
			if(this['id'] == v){
				c = this['name'];
				return false;
			}
		});
		return c;
	}
</script>