<div style='position: relative;margin-bottom:5px;'>
	<a id='addbtn' class='btn btn-default'><i class="icon-plus"></i> 增加</a>
	<!-- 
<a id='delbtn' class='btn btn-default'><i class="icon-remove"></i> 删除</a>
<a id='assignbtn' class='btn btn-default'><i class="icon-pencil"></i> 分配角色</a>
 -->
	<div style="position: absolute;bottom : 0; right:10px;">
		<form id='search-form' class='search-box'>
			<table>
				<tr>
					<td><input type="text" id='searchtxt' name="name"
						autocomplete="off" placeholder="请输入用户名" /></td>
					<td><button type="button" class="btn btn-primary">查询</button></td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div id='kkk'></div>

<script type="text/javascript">
	//var state = dic('userstate');
	$('#kkk').table({
		columns : [
		//{header:"ID",field:"id",width:50,align:'center'},
		{
			header : "用户名",
			field : "username",
			align : 'left',
			tip : true,
			editor : {
				type : 'text'
			}
		}, {
			header : "部门",
			field : "departname",
			align : 'center',
			width : 100
		}, {
			header : "E-mail",
			field : "email",
			align : 'center',
			width : 180
		}, {
			header : "电话",
			field : "phone",
			align : 'center',
			width : 100
		}, {
			header : "出生日期",
			field : "birth",
			align : 'center',
			width : 100
		}, {
			header : "性别",
			field : "gender",
			align : 'center',
			render : genderRender,
			width : 50
		}, {
			header : "注册时间",
			field : "regtime",
			align : 'center',
			width : 180
		}, {
			header : "状态",
			field : "state",
			align : 'center',
			width : 50,
			editor : {
				type : 'combox',
				opts : {
					width : 50
				}
			},
			render : stateRender
		}, {
			header : "操作",
			field : "",
			align : 'center',
			width : 100,
			render : opRender
		} ],
		url : 'user/list',
		selector : 'm',
		condition : condition
	});
	$('#addbtn').click(add);
	$('#delbtn').click(del);
	$('#assignbtn').click(mk);
	function add() {
		$.dialog({
			title : '用户新增',
			url : 'view/user/adduser.html',
			buttons : [ {
				text : 'OK',
				cls : 'btn-success',
				action : function(d) {
					ok(d);
				}
			}, {
				text : 'Close',
				cls : 'btn-default',
				action : function(d) {
					d.close();
				}

			} ],
			onShow : function() {
				$('#state').MultiRadio();
				$('#gender').MultiRadio();
			}
		});
		//$('#kkk').Grid('addRow', {username:'asd'});
	}

	function ok(win) {
		var username = win.find('input[name=username]').val();
		var password = win.find('input[name=password]').val();
		var email = win.find('input[name=email]').val();
		var phone = win.find('input[name=phone]').val();
		var depart = win.find('input[name=depart]').val();
		var memo = win.find('textarea[name=memo]').val();
		var state = win.find('input[name=state]').val();
		var birth = win.find('input[name=birth]').val();
		var gender = win.find('input[name=gender]').val();
		var params = {
			username : username,
			password : password,
			email : email,
			phone : phone,
			depart : depart,
			birth : birth,
			gender : gender,
			memo : memo,
			state : state
		};
		$.ajax({
			url : 'user/add',
			type : 'post',
			data : params,
			dataType : 'json',
			success : function(result) {
				if (result.result) {
					win.close();
					$.pop(result.msg, function() {
						$('#kkk').table('reload');
					});
					/**$.alert('success', result.msg, function(){
						$('#kkk').table('reload');
					});**/
				}
			}
		});
	}

	function save() {
		$('#kkk').Grid('save');
	}

	function del() {
		var selected = $('#kkk').table('getSelected');
		if (selected.length == 0) {
			$.tip({
				content : 'Please select one record!'
			});
			return false;
		}
		$.confirm('确定要干掉吗', function(btn) {
			if (btn) {
				var ids = [];
				for ( var k in selected) {
					ids.push(selected[k].id);
				}
				$.ajax({
					url : 'user/del',
					type : 'post',
					data : {
						ids : ids.join(',')
					},
					dataType : 'json',
					success : function(result) {
						$.pop(result.msg, function() {
							//$('#kkk').table('reload');
						});
						//$('#kkk').table('refresh');
					}
				});
			}
		});
	}

	function cancel() {
		var selected = $('#kkk').Grid('getSelected');
		if (selected.length == 0) {
			$.alert({
				msg : '请选择至少一条记录'
			});
			return false;
		}
		$.confirm({
			msg : '确定要禁止吗',
			callback : function(btn) {
				if (btn) {
					var ids = [];
					for ( var k in selected) {
						ids.push(selected[k].id);
					}
					$.ajax({
						url : 'user/cancel',
						type : 'post',
						data : {
							ids : ids.join(',')
						},
						dataType : 'json',
						success : function(result) {
							$('#kkk').Grid('refresh');
						}
					});
				}
			}
		});
	}

	function active() {
		var selected = $('#kkk').Grid('getSelected');
		if (selected.length == 0) {
			$.alert({
				msg : '请选择至少一条记录'
			});
			return false;
		}
		$.confirm({
			msg : '确定要激活吗',
			callback : function(btn) {
				if (btn) {
					var ids = [];
					for ( var k in selected) {
						ids.push(selected[k].id);
					}
					$.ajax({
						url : 'user/active',
						type : 'post',
						data : {
							ids : ids.join(',')
						},
						dataType : 'json',
						success : function(result) {
							$('#kkk').Grid('refresh');
						}
					});
				}
			}
		});
	}

	$('#search-form button').click(function() {
		$('#kkk').table('reload');
	});

	function condition() {
		var name = $('input[name=name]').val();
		var params = {
			username : name
		};
		return params;
	}

	function stateRender(s) {
		//s = s||'1';
		//return "<font title='" + state[s] + "' color='" + {0:'red', 1:'green'}[s] + "'>"  +  state[s]  + "</font>";
		if (s == 1) {
			return "<label class='label label-success'>正常</label>";
		} else if (s == 0) {
			return "<label class='label label-danger'>锁定</label>";
		} else {
			return "<label class='label label-warning'>离职</label>";
		}
	}
	
	function genderRender(s) {
		if (s == 2) {
			return "<label class='label label-success'>男</label>";
		} else if (s == 1) {
			return "<label class='label label-danger'>女</label>";
		}
	}

	function opRender(v, r) {
		var h = [];
		h.push("<a class='btn btn-danger btn-sm' onclick=del2('" + r.id
				+ "') title='删除'><i class='icon-trash'></i></a>");
		h.push("<a class='btn btn-primary btn-sm' onclick=assignrole('" + r.username
				+ "') title='分配角色'><i class='icon-pencil'></i></a>");
		return h.join('');
	}

	function del2(id) {
		$.confirm('确定要干掉吗', function(btn) {
			if (btn == 'YES') {
				var ids = [];
				ids.push(id);
				$.ajax({
					url : 'user/del',
					type : 'post',
					data : {
						ids : ids.join(',')
					},
					dataType : 'json',
					success : function(result) {
						$.pop(result.msg, function() {
							$('#kkk').table('refresh');
						});
					}
				});
			}
		});
	}

	function assignrole(username) {
		$.dialog({
			title : '分配角色',
			url : 'user/tosetrole',
			params : {
				user : username
			},
			buttons : [ {
				text : 'OK',
				cls : 'btn-success',
				action : function(d) {
					ok1(d);
				}
			}, {
				text : 'Close',
				cls : 'btn-default',
				action : function(d) {
					d.close();
				}

			} ]
		});
	}

	function mk() {
		var selected = $('#kkk').table('getSelected');
		if (selected.length != 1) {
			$.tip({
				content : '请选择一条记录'
			});
			return false;
		}
		$.dialog({
			title : '分配角色',
			url : 'user/tosetrole?user=' + selected[0].username,
			buttons : [ {
				text : 'OK',
				cls : 'btn-success',
				action : function(d) {
					ok1(d);
				}
			}, {
				text : 'Close',
				cls : 'btn-default',
				action : function(d) {
					d.close();
				}

			} ]
		});
	}

	function ok1(win) {
		var user = win.find('input[name=user]').val();
		var roles = new Array();
		win.find('input[type=checkbox]:checked').each(function() {
			roles.push($(this).val());
		});
		var data = {
			user : user,
			roles : roles.join()
		};
		$.ajax({
			url : "user/setrole",
			type : 'post',
			data : data,
			dataType : 'json',
			success : function(result) {
				if (result.result) {
					win.close();
					$.alert('success', result.msg, function() {
						$('#kkk').table('reload');
					});
				}
			}
		});
	}
</script>