<div style="float: left;width:200px;">
	<ul id="tree"></ul>
</div>
<dl id='mktabs' class="tabs" style="float: left;">
	<dt>
		<a class='active'><i class='icon-th'></i> 增加模块</a><a><i
			class='icon-envelope'></i> 增加菜单</a><a><i class='icon-cog'></i> 增加操作</a>
	</dt>
	<dd class='active'>
		<form id='moudlefrm' method='post' action='resadd'>
			<table>
				<tr>
					<td align='right' width='30%'>模块名称</td>
					<td><input type="hidden" name="type" value="1" /> <input
						type="hidden" name="pid" value="0" /> <input type="text"
						name="name" class='txt' autocomplete="off" /></td>
				</tr>
				<tr>
					<td align='right'>图标</td>
					<td><input type="text" name="icon" class='txt'
						autocomplete="off" /></td>
				</tr>
				<tr>
					<td align='right'></td>
					<td>
						<p>
							<a id='addmoudle' class='btn btn-default'> <i
								class="icon-plus"></i> 增加
							</a> <a class='btn btn-default'> <i class="icon-remove"></i> 清空
							</a>
						</p>
					</td>
				</tr>
			</table>
		</form>
	</dd>
	<dd>
		<form id='menufrm' method='post' action='resadd'>
			<table>
				<tr>
					<td align='right' width='30%'>模块</td>
					<td><select name="pid" id='moudle'>
							<option value='-100'>请选择模块</option>
					</select></td>
				</tr>
				<tr>
					<td align='right'>菜单名称</td>
					<td><input type="hidden" name="type" value="2" /> <input
						type="text" name="name" class='txt' autocomplete="off" /></td>
				</tr>
				<tr>
					<td align='right'>图标</td>
					<td><input type="text" name="icon" class='txt'
						autocomplete="off" /></td>
				</tr>
				<tr>
					<td align='right'>URL</td>
					<td><input type="text" name="url" class='txt'
						autocomplete="off" /></td>
				</tr>
				<tr>
					<td align='right'></td>
					<td>
						<p>
							<a id='addmenu' class='btn btn-default'> <i class="icon-plus"></i>
								增加
							</a> <a class='btn btn-default'> <i class="icon-remove"></i> 清空
							</a>
						</p>
					</td>
				</tr>
			</table>
		</form>
	</dd>
	<dd>
		<form id='opfrm' method='post' action='resadd'>
			<table>
				<tr>
					<td align='right' width='30%'>模块</td>
					<td><select id='moudle2'>
							<option value='-100'>请选择模块</option>
					</select></td>
				</tr>
				<tr>
					<td align='right' width='30%'>菜单</td>
					<td><select name="pid" id='menu'>
							<option value='-1'>请选择菜单</option>
					</select></td>
				</tr>
				<tr>
					<td align='right'>操作名称</td>
					<td><input type="hidden" name="type" value="3" /> <input
						type="text" name="name" class='txt' autocomplete="off" /></td>
				</tr>
				<tr>
					<td align='right'>图标</td>
					<td><input type="text" name="icon" class='txt'
						autocomplete="off" /></td>
				</tr>
				<tr>
					<td align='right'>URL</td>
					<td><input type="text" name="url" class='txt'
						autocomplete="off" /></td>
				</tr>
				<tr>
					<td align='right'>Method</td>
					<td><input type="text" name="method" class='txt'
						autocomplete="off" /></td>
				</tr>
				<tr>
					<td align='right'></td>
					<td>
						<p>
							<a id='addop' class='btn btn-default'> <i class="icon-plus"></i>
								增加
							</a> <a class='btn btn-default'> <i class="icon-remove"></i> 清空
							</a>
						</p>
					</td>
				</tr>
			</table>
		</form>
	</dd>
</dl>

<script language="javascript">
	$('#mktabs').Tabs({
		select : function(index, me) {
			bbb(index);
		}
	});

	function bbb(index) {
		if (index == 1) {
			$.ajax({
				url : "res/list",
				async : false,
				cache : false,
				dataType : 'json',
				success : function(d) {
					$("#moudle")[0].options.length = 1;
					$(d).each(function() {
						if (this.type == 1) {
							var opt = new Option(this.name, this.id);
							$("#moudle")[0].add(opt);
						}
					});
				}
			});
		}
		if (index == 2) {
			$.ajax({
				url : "res/list",
				async : false,
				cache : false,
				dataType : 'json',
				success : function(d) {
					$("#moudle2")[0].options.length = 1;
					$(d).each(function() {
						if (this.type == 1) {
							var opt = new Option(this.name, this.id);
							$("#moudle2")[0].add(opt);
						}
					});
				}
			});
		}
	}
	$("#tree").Tree({
		url : "res/list?_=" + new Date().getTime(),
		//remove : remove,
		showIcon : true
	});
	$("#tree").Tree('expandAll');
	function remove(nodeid) {
		$.ajax({
			url : "res/del",
			async : false,
			type : 'post',
			data : {
				id : nodeid
			},
			dataType : 'json',
			success : function(r) {
				if (r.success) {
					$("#tree").Tree('refresh');
				}
			}
		});
	}

	$("#addmoudle").click(function() {
		var data = $('#moudlefrm').serialize();
		$.ajax({
			url : "res/add",
			type : 'post',
			data : data,
			dataType : 'json',
			success : function(r) {
				if (r.success) {
					$("#tree").Tree('refresh');
				}
			}
		});
	});

	$("#addmenu").click(function() {
		var data = $('#menufrm').serialize();
		$.ajax({
			url : "res/add",
			type : 'post',
			data : data,
			dataType : 'json',
			success : function(r) {
				if (r.success) {
					$("#tree").Tree('refresh');
				}
			}
		});
	});

	$("#addop").click(function() {
		var data = $('#opfrm').serialize();
		$.ajax({
			url : "res/add",
			type : 'post',
			data : data,
			dataType : 'json',
			success : function(r) {
				if (r.success) {
					$("#tree").Tree('refresh');
				}
			}
		});
	});

	$("#moudle2").change(function() {
		$('#menu')[0].options.length = 1;
		var mid = $(this).val();
		$.ajax({
			url : "res/menubymoudle",
			type : 'post',
			data : {
				pid : mid
			},
			dataType : 'json',
			success : function(d) {
				$(d).each(function() {
					var opt = new Option(this.name, this.id);
					$('#menu')[0].add(opt);
				});
			}
		});
	});
</script>
