<from class='form'>
<table>
	<tr>
		<td class='form-label'>商品名称</td>
		<td><input type="text" name="name" id='goods' autocomplete="off" /></td>
	</tr>
	<tr>
		<td class='form-label'>规格</td>
		<td><input type="text" name="spec" id='spec' autocomplete="off" disabled="disabled"/></td>
	</tr>
	<tr>
		<td class='form-label'>计量单位</td>
		<td><input type="text" name="unit" id='unit' autocomplete="off" disabled="disabled"/></td>
	</tr>
	<tr>
		<td class='form-label'>采购价格</td>
		<td><input type="text" name="purchase_price" id="purchase_price" autocomplete="off" /></td>
	</tr>
		<tr>
		<td class='form-label'>采购数量</td>
		<td><input type="text" name="purchase_num" id="purchase_num" autocomplete="off" /></td>
	</tr>
	<tr>
		<td class='form-label'>采购金额</td>
		<td><input type="text" name="purchase_money" id="purchase_money" autocomplete="off" disabled="disabled"/></td>
	</tr>
</table>
</from>
<script type="text/javascript">
	$('#unit').selectbox({
		ds : unit,
		textField : 'name',
		valueField : 'id'
	});
	$('#goods').selectbox({
		ds : goods,
		textField : 'name',
		valueField : 'id',
		change : function(item) {
			$('#spec').val(item.spec);
			$('#unit').selectbox('setValue', item.unit);
		}
	});
	$('#purchase_price').change(function(){
		var num = $('#purchase_num').val();
		var money = $('#purchase_money');
		var price = $(this).val();
		money.val(num*price);
	});
	$('#purchase_num').change(function(){
		var num = $(this).val();
		debugger;
		var money = $('#purchase_money');
		var price = $('#purchase_price').val();
		money.val(num*price);
	});
</script>