<p>
<div class="row">
	<div class="col-lg-4">
		<div class="input-group pull-right"><input type="text" class="form-control" id='searchtxt' placeholder="请输入供应商名"> <span
		class="input-group-btn">
		<button class="btn btn-primary" type="button" id='searchbtn'>查询</button>
	</span>
	</div>
	</div>
</div>
</p>
<div id='kkk'></div>

<script type="text/javascript">
	var supplier;
	$.ajax({
		url : "supplier/list",
		async : false,
		type : 'post',
		dataType : 'json',
		success : function(data) {
			if (data) {
				supplier = data;
			}
		}
	});
	$('#kkk').table({
		columns : [
		{header:"业务单号",field:"no",width : 200, align:'center'},
		{
			header : "供应商名",
			field : "supplier",
			align : 'left',
			render : supplierRender,
			tip : true
		}, {
			header : "应付金额",
			field : "payment",
			align : 'center',
			width : 100
		}, {
			header : "已付金额",
			field : "payment_made",
			render : paymentmadeRender,
			align : 'center',
			width : 200
		}, {
			header : "未付金额",
			field : "payment_due",
			render : paymentdueRender,
			align : 'center',
			width : 200
		}],
		url : 'payment/pager'
	});
	$('#updatedbtn').click(function(){
		$('#kkk').table('endEdit');
		var mm = $('#kkk').table('getChanged');
		var text = JSON.stringify(mm);
		$.ajax({
			url : 'api/changed',
			type : 'post',
			data : {apiid: '1', changed: text},
			contentType: "application/x-www-form-urlencoded; charset=utf-8",
			dataType : 'json',
			success : function(result) {
				if (result.result) {
					$.pop(result.msg, function() {
						$('#kkk').table('refresh');
					});
				}
			}
		});
	});
	$('#appendbtn').click(function(){
		$('#kkk').table('addRow', 0, {apiid:1});
	});
	$('#delbtn').click(function(){
		var selected = $('#kkk').table('getSelected2');
		if (selected.length == 0) {
			$.tip({
				content : 'Please select one record!'
			});
			return false;
		}
		$('#kkk').table('deleteRow', selected[0]);
	});
	function supplierRender(v) {
		var c;
		$.each(supplier, function(){
			if(this['id'] == v){
				c = this['name'];
				return false;
			}
		});
		return c;
	}
	function paymentmadeRender(v, r) {
		var str = v;
		if(v > 0){
			str += "&nbsp;&nbsp;<a href='javascript:;' onclick='viewdetail(\"" + r.no + "\")'>付款明细</a>";
		}
		return str;
	}
	function paymentdueRender(v, r) {
		var d = r.payment - r.payment_made;
		if(d > 0){
			var str = "&nbsp;&nbsp;<a href='javascript:;' onclick='payrecord(\"" + r.no + "\")'>付款</a>";
			return d + str;
		}
		return '';
	}
	function viewdetail(no) {
		$.dialog({
			title : '付款明细',
			url : 'payment/detailview?purchasebill=' + no
		});
	}
	function payrecord(no) {
		var d = $.dialog({
			title : '付款录入',
			url : 'payment/record?purchasebill=' + no,
			buttons : [ {
				text : '确定',
				cls : 'btn-primary',
				action : function(d) {
					ok(d);
				}
			}, {
				text : '关闭',
				cls : 'btn-default',
				action : function(d) {
					d.close();
				}

			} ],
		});
	}
	
	function ok(win) {
		var no = win.find('input[name=no]').val();
		var paytime = win.find('input[name=paytime]').val();
		var paymoney = win.find('input[name=paymoney]').val();
		var payuser = win.find('input[name=payuser]').val();
		var creator = win.find('input[name=creator]').val();
		var params = {
			no : no,
			paytime : paytime,
			paymoney : paymoney,
			payuser : payuser,
			creator : creator
		};
		$.ajax({
			url : 'payment/recordadd',
			type : 'post',
			data : params,
			dataType : 'json',
			success : function(result) {
				if (result.result) {
					win.close();
					$.pop(result.msg, function() {
						$('#kkk').table('reload');
					});
				}
			}
		});
	}
	$('#searchbtn').click(function() {
		var supplier = $('#searchtxt').val();
		var params = {
			supplier : supplier
		};
		$('#kkk').table('setQueryParam', params);
		$('#kkk').table('reload');
	});
</script>