<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-3 control-label">业务单号</label>
		<div class="col-sm-9">
			<p class="form-control-static" id='no'></p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">付款时间</label>
		<div class="col-sm-9">
			<p class="form-control-static" id='paytime'></p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">付款金额</label>
		<div class="col-sm-9">
			<input type="text" id='paymoney' name='paymoney' class='form-control' />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">付款人员</label>
		<div class="col-sm-9">
			<input type="text" id='payuser' name="payuser" class='form-control' value='rzy'/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label">录入人员</label>
		<div class="col-sm-9">
			<input type="text" id='creator' name='creator' class='form-control'
			disabled="disabled" />
		</div>
	</div>
</form>
<script type="text/javascript">
	var date = new Date();
	var dd = date.format("yyyy-MM-dd hh:mm:ss");
	$('#paytime').text(dd);
</script>