<div class='row'> 
	<div class="col-lg-4">
		<div class="input-group pull-right"><input type="text" class="form-control" id='searchtxt' placeholder="请输入客户名"> <span
		class="input-group-btn">
		<button class="btn btn-primary" type="button" id='searchbtn'>查询</button>
	</span>
	</div>
	</div>
</div>
<br>
<div id='kkk'></div>

<script type="text/javascript">
	var customer;
	$.ajax({
		url : base + "customer/list",
		async : false,
		type : 'post',
		dataType : 'json',
		success : function(data) {
			if (data) {
				customer = data;
			}
		}
	});
	$('#kkk').table({
		columns : [
		{header:"业务单号",field:"no",width : 200, align:'center'},
		{
			header : "客户名",
			field : "customer",
			align : 'left',
			render : customerRender,
			tip : true
		}, {
			header : "应收金额",
			field : "receive",
			align : 'center',
			width : 100
		}, {
			header : "已收金额",
			field : "receive_made",
			render : receivemadeRender,
			align : 'center',
			width : 200
		}, {
			header : "未收金额",
			field : "receive_due",
			render : receivedueRender,
			align : 'center',
			width : 200
		}],
		url : base + 'receive/pager'
	});
	function customerRender(v) {
		var c;
		$.each(customer, function(){
			if(this['id'] == v){
				c = this['name'];
				return false;
			}
		});
		return c;
	}
	function receivemadeRender(v, r) {
		var str = "&nbsp;&nbsp;<a href='javascript:;' onclick='viewdetail(\"" + r.no + "\")'>收款明细</a>";
		return v + str;
	}
	function receivedueRender(v, r) {
		var d = r.receive - r.receive_made;
		if(d > 0){
			var str = "&nbsp;&nbsp;<a href='javascript:;' onclick='receiverecord(\"" + r.no + "\")'>收款</a>";
			return d + str;
		}
		return '';
	}
	function viewdetail(no) {
		$.dialog({
			title : '收款明细',
			url : 'view/fund/receivedetail.html',
			open :function(){
				loaddetail(no);
			}
		});
	}
	function receiverecord(no) {
		var d = $.dialog({
			title : '收款录入',
			width : 400,
			url : 'view/fund/receiverecord.html',
			buttons : [ {
				text : '确定',
				cls : 'btn-primary',
				action : function(d) {
					ok(d);
				}
			}, {
				text : '关闭',
				cls : 'btn-default',
				action : function(d) {
					d.close();
				}

			} ],
			open : function(d) {
				$('#no').text(no);
			}
		});
	}
	
	function ok(win) {
		var no = win.find('input[name=no]').val();
		var receivetime = win.find('input[name=receivetime]').val();
		var receivemoney = win.find('input[name=receivemoney]').val();
		var receiveuser = win.find('input[name=receiveuser]').val();
		var creator = win.find('input[name=creator]').val();
		var params = {
			no : no,
			receivetime : receivetime,
			receivemoney : receivemoney,
			receiveuser : receiveuser,
			creator : creator
		};
		$.ajax({
			url : 'receive/recordadd',
			type : 'post',
			data : params,
			dataType : 'json',
			success : function(result) {
				if (result.result) {
					win.close();
					$.pop(result.msg, function() {
						$('#kkk').table('reload');
					});
				}
			}
		});
	}
	$('#searchbtn').click(function() {
		var customer = $('#searchtxt').val();
		var params = {
			customer : customer
		};
		$('#kkk').table('setQueryParam', params);
		$('#kkk').table('reload');
	});
</script>