<h3>Buttons</h3>
<p>
<a class='btn btn-link'>Link</a>
<a class='btn btn-default' id='Default'>Default</a>
<a class='btn btn-primary'>Primary</a>
<a class='btn btn-success'>Success</a>
<a class='btn btn-info'>Info</a>
<a class='btn btn-warning'>Warning</a>
<a class='btn btn-danger'>Danger</a>
</p>

<h3>Buttons with icon</h3>
<p>
<a class='btn btn-default'><i class='icon-plus'></i> Default</a>
<a class='btn btn-primary'><i class='icon-plus'></i></a>
<a class='btn btn-icon-only'><i class='icon-plus'></i></a>
<a class='btn btn-primary'><i class='icon-plus'></i> Primary</a>
<a class='btn btn-success'><i class='icon-plus'></i> Success</a>
<a class='btn btn-info'><i class='icon-plus'></i> Info</a>
<a class='btn btn-warning'><i class='icon-plus'></i> Warning</a>
<a class='btn btn-danger'><i class='icon-plus'></i> Danger</a>
</p>

<script type="text/javascript">

</script>