<div id='Buttons'>
<h3>Buttons</h3>
<p>
<a class='btn btn-link'>Link</a>
<a class='btn btn-default' id='Default'>Default</a>
<a class='btn btn-primary'>Primary</a>
<a class='btn btn-success'>Success</a>
<a class='btn btn-info'>Info</a>
<a class='btn btn-warning'>Warning</a>
<a class='btn btn-danger'>Danger</a>
</p>
</div>
<div id='code1'></div>
<script type="text/javascript">
	var code = $('#Buttons').html().trim();
	var highLightCode = HighLighter.highLight('html', 'rDark', code);
    $('#code1').html(highLightCode);
</script>
<div id='Buttonswithicon'>
<h3>Buttons with icon</h3>
<p>
<a class='btn btn-default'><i class='icon-plus'></i> Default</a>
<a class='btn btn-primary'><i class='icon-plus'></i></a>
<a class='btn btn-icon-only'><i class='icon-plus'></i></a>
<a class='btn btn-primary'><i class='icon-plus'></i> Primary</a>
<a class='btn btn-success'><i class='icon-plus'></i> Success</a>
<a class='btn btn-info'><i class='icon-plus'></i> Info</a>
<a class='btn btn-warning'><i class='icon-plus'></i> Warning</a>
<a class='btn btn-danger'><i class='icon-plus'></i> Danger</a>
</p>
</div>
<div id='code2'></div>
<script type="text/javascript">
	var code = $('#Buttonswithicon').html().trim();
	var highLightCode = HighLighter.highLight('html', 'rDark', code);
    $('#code2').html(highLightCode);
</script>