<h3>Alert</h3>
<p>
	<a class='btn btn-success'>Success</a> <a class='btn btn-info'>Info</a>
	<a class='btn btn-warning'>Warning</a> <a class='btn btn-danger'>Danger</a>
</p>
<h3>Confirm</h3>
<div>
	<a class='btn btn-danger' id='bbb'>Confirm</a>
</div>
<h3>dialog</h3>
<div>
	<a class='btn btn-danger' id='bbb2'>Dialog</a>
</div>
<input type='text' id='ddddd' name='operator'/>
<p id='code2'></p>
<p id='code'></p>
<script type="text/javascript">
	$('p a:nth(0)').click(function(e) {
		$.alert('success', "Are you sure delete it!", function() {
			alert('asdasd...');
		});
	});
	$('p a:nth(1)').click(function(e) {
		$.alert('info', "Are you sure delete it!", function() {
			alert('asdasd...');
		});
	});
	$('p a:nth(2)').click(function(e) {
		$.alert('warning', "Are you sure delete it!", function() {
			alert('asdasd...');
		});
	});
	$('p a:nth(3)').click(function(e) {
		$.alert('danger', "Are you sure delete it!", function() {
			alert('asdasd...');
		});
	});
	$('#bbb').click(function(e) {
		$.confirm("Are you sure delete it!", function(btn) {
			alert(btn);
			if (btn) {
			}
		});
	});
	$('#bbb2').click(function(e) {
		var dialog = $.dialog({
			url : 'view/income/list.html',
			width : 'auto',
			ok : function() {
				dialog.close();
			}
		});
	});
	
	$('#ddddd').AutoComplete2({
	 	url:'log/users',
	 	emptyText:''
	 }); 
</script>
<pre id='Dialog_code2' style='display:none;'>
<div>
	<a class='btn btn-danger' id='bbb2'>Dialog</a>
</div>
</pre>
<pre id='Dialog_code' style='display:none;'>
$('#bbb2').click(function(e) {
	var dialog = $.dialog({
		url : 'view/income/list.html',
		width : 'auto'
	});
});
</pre>
<script type="text/javascript">
	var code2 = $('#Dialog_code2').html().trim();
	var highLightCode2 = HighLighter.highLight('html', 'rDark', code2);
    $('#code2').html(highLightCode2);
	var code = $('#Dialog_code').html().trim();
	var highLightCode = HighLighter.highLight('javascript', 'rDark', code);
    $('#code').html(highLightCode);
</script>
