<from class='form'>
<table>
	<tr>
		<td class='form-label'>商品名称</td>
		<td><input type="text" name="goods" id='goods' autocomplete="off" /></td>
	</tr>
	<tr>
		<td class='form-label'>规格</td>
		<td><input type="text" name="spec" id='spec' autocomplete="off" disabled="disabled"/></td>
	</tr>
	<tr>
		<td class='form-label'>计量单位</td>
		<td><input type="text" name="unit" id='unit' autocomplete="off" disabled="disabled"/></td>
	</tr>
	<tr>
		<td class='form-label'>销售价格</td>
		<td><input type="text" name="sale_price" id="sale_price" autocomplete="off" /></td>
	</tr>
		<tr>
		<td class='form-label'>销售数量</td>
		<td><input type="text" name="sale_num" id="sale_num" autocomplete="off" /></td>
	</tr>
	<tr>
		<td class='form-label'>销售金额</td>
		<td><input type="text" name="sale_money" id="sale_money" autocomplete="off" disabled="disabled"/></td>
	</tr>
</table>
</from>
<script type="text/javascript">
	$('#unit').selectbox({
		ds : unit,
		textField : 'name',
		valueField : 'id'
	});
	$('#goods').selectbox({
		ds : goods,
		textField : 'name',
		valueField : 'id',
		change : function(item) {
			$('#spec').val(item.spec);
			$('#unit').selectbox('setValue', item.unit);
		}
	});
	$('#sale_price').change(function(){
		var num = $('#sale_num').val();
		var money = $('#sale_money');
		var price = $(this).val();
		money.val(num*price);
	});
	$('#sale_num').change(function(){
		var num = $(this).val();
		var money = $('#sale_money');
		var price = $('#sale_price').val();
		money.val(num*price);
	});
</script>