<div style='position: relative;margin-bottom:5px;'>
	<a id='addbtn' class='btn btn-primary'><i class="icon-plus"></i> 新建销售出库单</a>
</div>
<div id='kkk2'></div>
<script type="text/javascript">
	var warehouse;
	var customer;
	var goods;
	$.ajax({
		url : "warehouse/list",
		async : false,
		type : 'post',
		dataType : 'json',
		success : function(data) {
			if (data) {
				warehouse = data;
			}
		}
	});
	$.ajax({
		url : "customer/list",
		async : false,
		type : 'post',
		dataType : 'json',
		success : function(data) {
			if (data) {
				customer = data;
			}
		}
	});
	$.ajax({
		url : "goods/list",
		async : false,
		type : 'post',
		dataType : 'json',
		success : function(data) {
			if (data) {
				goods = data;
			}
		}
	});
	$('#kkk2').table({
		columns : [
		//{header:"ID",field:"id",width:50,align:'center'},
		{
			header : "状态",
			field : "state",
			render : stateRender,
			align : 'center',
			width : 80
		}, {
			header : "出库单号",
			field : "no",
			align : 'center',
			render : noRender,
			width : 150
		}, {
			header : "拟单时间",
			field : "createtime",
			align : 'center',
			width : 100
		}, {
			header : "拟单人",
			field : "creator",
			align : 'center',
			width : 100
		}, {
			header : "客户",
			field : "customer",
			align : 'center',
			render : customerRender,
			width : 200
		}, {
			header : "出库仓库",
			field : "warehouse",
			align : 'center',
			render : warehouseRender,
			width : 150
		}, {
			header : "销售金额",
			field : "money",
			align : 'center'
		}, {
			header : "操作",
			field : "action",
			align : 'center',
			width : 100,
			render : saleopRender
		} ],
		url : 'sale/outlist'
	});
	function saleopRender(v, r) {
		var h = [];
		if(r.state == 0){
			h.push("<a href='javascript:;' onclick=out('" + r.no + "') title='出库'>出库</a>");
		}
		return h.join('');
	}
	function out(no) {
		$.ajax({
			url : 'sale/out',
			type : 'post',
			data : { no : no },
			dataType : 'json',
			success : function(result) {
				$.pop(result.msg, function() {
					$('#kkk2').table('refresh');
				});
			}
		});
	}
	$('#addbtn').click(add);
	$('#delbtn').click(del);
	$('#assignbtn').click(mk);
	var d;
	function add() {
		d = $.dialog({
			title : '新建销售出库单',
			url : 'sale/tosaleadd',
			drag : true,
			buttons : [ {
				text : '确定',
				cls : 'btn-primary',
				action : function(d) {
					oksale(d);
				}
			}, {
				text : '关闭',
				cls : 'btn-default',
				action : function(d) {
					d.close();
				}

			} ]
		});
	}

	function oksale(win) {
		var no = $('#no').val();
		var creator = $('#creator').val();
		var createtime = $('#createtime').val();
		var customer = $('#customer').selectbox('getValue');
		var warehouse = $('#warehouse').selectbox('getValue');
		var memo = $('#memo').val();
		var detail = $('#detail').table('getData');
		var params = {no : no, creator : creator, createtime : createtime, customer : customer, warehouse : warehouse, memo : memo, detail : detail};
		var text = JSON.stringify(params);
		$.ajax({
			url : 'sale/add',
			type : 'post',
			data : {bill: text},
			dataType : 'json',
			success : function(result) {
				$('#kkk2').table('reload');
				d.close();
			}
		});
	}

	function stateRender(s) {
		if (s == 1) {
			return "<label class='label label-success'>已出库</label>";
		} else {
			return "<label class='label label-danger'>未出库</label>";
		}
	}
	
	function noRender(v) {
		var str = "<a href='javascript:;' onclick='viewdetail(\"" + v + "\")'>" + v + "</a>";
		return str;
	}
	
	function viewdetail(v) {
		$.dialog({
			title : '销售出库单详情',
			url : 'sale/detailview?no=' + v
		});
	}
	
	function warehouseRender(v) {
		var c;
		$.each(warehouse, function(){
			if(this['id'] == v){
				c = this['name'];
				return false;
			}
		});
		return c;
	}
	
	function customerRender(v) {
		var c;
		$.each(customer, function(){
			if(this['id'] == v){
				c = this['name'];
				return false;
			}
		});
		return c;
	}
</script>
